#s-17445edd-cc23-48be-9650-a557138aa920 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17445edd-cc23-48be-9650-a557138aa920 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17445edd-cc23-48be-9650-a557138aa920 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17445edd-cc23-48be-9650-a557138aa920 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17445edd-cc23-48be-9650-a557138aa920 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17445edd-cc23-48be-9650-a557138aa920 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17445edd-cc23-48be-9650-a557138aa920 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17445edd-cc23-48be-9650-a557138aa920 #s-Flat-button-dark {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17445edd-cc23-48be-9650-a557138aa920 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17445edd-cc23-48be-9650-a557138aa920 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-17445edd-cc23-48be-9650-a557138aa920 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}