#s-1e0eeaf4-d90a-4217-8eab-03dd10002ca9 #s-Two-line-item_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e0eeaf4-d90a-4217-8eab-03dd10002ca9 #s-Picture_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e0eeaf4-d90a-4217-8eab-03dd10002ca9 #s-checkbox-on-light_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e0eeaf4-d90a-4217-8eab-03dd10002ca9 #s-Two-line-item_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e0eeaf4-d90a-4217-8eab-03dd10002ca9 #s-Picture_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e0eeaf4-d90a-4217-8eab-03dd10002ca9 #s-checkbox-on-light_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e0eeaf4-d90a-4217-8eab-03dd10002ca9 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e0eeaf4-d90a-4217-8eab-03dd10002ca9 #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e0eeaf4-d90a-4217-8eab-03dd10002ca9 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e0eeaf4-d90a-4217-8eab-03dd10002ca9 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1e0eeaf4-d90a-4217-8eab-03dd10002ca9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}