#s-250a20ee-2553-4e08-9f5e-49df240bee62 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-250a20ee-2553-4e08-9f5e-49df240bee62 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-250a20ee-2553-4e08-9f5e-49df240bee62 #s-close {
  -ms-transform: rotate(0.0deg);
}
#s-250a20ee-2553-4e08-9f5e-49df240bee62 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-250a20ee-2553-4e08-9f5e-49df240bee62 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-250a20ee-2553-4e08-9f5e-49df240bee62 #s-close_1 {
  -ms-transform: rotate(0.0deg);
}
#s-250a20ee-2553-4e08-9f5e-49df240bee62 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-250a20ee-2553-4e08-9f5e-49df240bee62 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-250a20ee-2553-4e08-9f5e-49df240bee62 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-250a20ee-2553-4e08-9f5e-49df240bee62 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-250a20ee-2553-4e08-9f5e-49df240bee62 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}