#s-2a7252e2-3b59-4e36-8bc6-213e9f0a9fdf #s-Two-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a7252e2-3b59-4e36-8bc6-213e9f0a9fdf #s-Picture_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a7252e2-3b59-4e36-8bc6-213e9f0a9fdf #s-checkbox-on-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a7252e2-3b59-4e36-8bc6-213e9f0a9fdf #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a7252e2-3b59-4e36-8bc6-213e9f0a9fdf #s-Picture_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a7252e2-3b59-4e36-8bc6-213e9f0a9fdf #s-checkbox-on-light_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a7252e2-3b59-4e36-8bc6-213e9f0a9fdf #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a7252e2-3b59-4e36-8bc6-213e9f0a9fdf #s-Ellipse_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  filter: alpha(opacity=45);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2a7252e2-3b59-4e36-8bc6-213e9f0a9fdf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2a7252e2-3b59-4e36-8bc6-213e9f0a9fdf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}