#s-2e94d689-6033-4689-aec2-82acf770824a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2e94d689-6033-4689-aec2-82acf770824a #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2e94d689-6033-4689-aec2-82acf770824a #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-2e94d689-6033-4689-aec2-82acf770824a #s-Two-line-item {
  -ms-transform: rotate(0.0deg);
}
#s-2e94d689-6033-4689-aec2-82acf770824a #s-Picture_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2e94d689-6033-4689-aec2-82acf770824a #s-checkbox-on-light_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2e94d689-6033-4689-aec2-82acf770824a #s-Two-line-item_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2e94d689-6033-4689-aec2-82acf770824a #s-Picture_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2e94d689-6033-4689-aec2-82acf770824a #s-checkbox-on-light_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2e94d689-6033-4689-aec2-82acf770824a #s-Two-line-item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2e94d689-6033-4689-aec2-82acf770824a #s-Picture_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2e94d689-6033-4689-aec2-82acf770824a #s-checkbox-on-light_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2e94d689-6033-4689-aec2-82acf770824a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}