#s-2f78b637-828a-4c84-a522-c24fbed85b8d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f78b637-828a-4c84-a522-c24fbed85b8d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f78b637-828a-4c84-a522-c24fbed85b8d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f78b637-828a-4c84-a522-c24fbed85b8d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f78b637-828a-4c84-a522-c24fbed85b8d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f78b637-828a-4c84-a522-c24fbed85b8d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f78b637-828a-4c84-a522-c24fbed85b8d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f78b637-828a-4c84-a522-c24fbed85b8d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f78b637-828a-4c84-a522-c24fbed85b8d #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f78b637-828a-4c84-a522-c24fbed85b8d #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2f78b637-828a-4c84-a522-c24fbed85b8d #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2f78b637-828a-4c84-a522-c24fbed85b8d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}