#s-6751e826-7dc5-4782-8317-518658be9903 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6751e826-7dc5-4782-8317-518658be9903 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-listMascota {
  position: absolute;
  top: 136px;
  left: 212px;
  width: 97px;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-listMascota .valign {
  width: 79px;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_1 {
  position: absolute;
  top: 131px;
  left: 98px;
  width: 70px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto Regular,Arial;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto Regular,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-listMascota_1 {
  position: absolute;
  top: 177px;
  left: 212px;
  width: 97px;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-listMascota_1 .valign {
  width: 79px;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_2 {
  position: absolute;
  top: 172px;
  left: 98px;
  width: 70px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-listMascota_2 {
  position: absolute;
  top: 214px;
  left: 212px;
  width: 97px;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-listMascota_2 .valign {
  width: 79px;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_3 {
  position: absolute;
  top: 209px;
  left: 98px;
  width: 70px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-listMascota_3 {
  position: absolute;
  top: 254px;
  left: 212px;
  width: 97px;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-listMascota_3 .valign {
  width: 79px;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_4 {
  position: absolute;
  top: 249px;
  left: 98px;
  width: 70px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Flat-button-dark {
  position: absolute;
  top: 333px;
  left: 138px;
  width: 110px;
  height: 44px;
  background-color: #8AD9D2;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #00FFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #00FFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #00FFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #00FFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #000000;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Flat-button-dark .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Flat-button-dark span {
  color: #303030;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6751e826-7dc5-4782-8317-518658be9903 #s-Flat-button-dark span#rtr-s-Flat-button-dark_0 {
  color: #303030;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6751e826-7dc5-4782-8317-518658be9903 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}