#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 #s-Flat-button-dark {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #00FFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #00FFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #00FFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #00FFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 110px;
  height: 44px;
  -ms-transform: rotate(0.0deg);
}
#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 #s-Float-button-light {
  -ms-transform: rotate(0.0deg);
}
#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-73f64982-33f1-4d42-9456-3fa11d76d2f5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}