#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Two-line-item_28 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Two-line-item_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Icon_phone_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Two-line-item_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Two-line-item_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Icon_phone_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Icon-hagouts_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Two-line-item_13 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Button-detail_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Label_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}