#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Two-line-item_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Icon_phone_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Two-line-item_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Two-line-item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Icon_phone_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Icon-hagouts_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Button-detail_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 #s-Label_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8114a906-1192-4eed-b0d3-c267ec73b6e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}