#s-be1f3671-f894-43f4-bfb0-ef497e50d54a #s-Two-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be1f3671-f894-43f4-bfb0-ef497e50d54a #s-Picture_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be1f3671-f894-43f4-bfb0-ef497e50d54a #s-checkbox-on-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be1f3671-f894-43f4-bfb0-ef497e50d54a #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be1f3671-f894-43f4-bfb0-ef497e50d54a #s-Picture_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be1f3671-f894-43f4-bfb0-ef497e50d54a #s-checkbox-on-light_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be1f3671-f894-43f4-bfb0-ef497e50d54a #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-be1f3671-f894-43f4-bfb0-ef497e50d54a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}