#s-d16e46a7-fdd4-4f62-858f-b0dedcfbaeb4 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d16e46a7-fdd4-4f62-858f-b0dedcfbaeb4 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d16e46a7-fdd4-4f62-858f-b0dedcfbaeb4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d16e46a7-fdd4-4f62-858f-b0dedcfbaeb4 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d16e46a7-fdd4-4f62-858f-b0dedcfbaeb4 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d16e46a7-fdd4-4f62-858f-b0dedcfbaeb4 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d16e46a7-fdd4-4f62-858f-b0dedcfbaeb4 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d16e46a7-fdd4-4f62-858f-b0dedcfbaeb4 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d16e46a7-fdd4-4f62-858f-b0dedcfbaeb4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}