#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Flat-button-dark {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 109px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Flat-button-dark_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 109px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Ellipse_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Panel_10 > .valign {
  vertical-align: top;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Icons_9 {
  -ms-transform: rotate(0.0deg);
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Label_56 {
  -ms-transform: rotate(0.0deg);
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Rectangle_30 {
  -ms-transform: rotate(0.0deg);
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}