#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Flat-button-dark {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Flat-button-dark_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Icons_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Label_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-da8ce480-c519-40a5-a488-d63f5cdd9536 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}