#s-dc4ef3dd-65d7-47dc-9ade-9f21ac565f17 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dc4ef3dd-65d7-47dc-9ade-9f21ac565f17 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dc4ef3dd-65d7-47dc-9ade-9f21ac565f17 #s-close {
  -ms-transform: rotate(0.0deg);
}
#s-dc4ef3dd-65d7-47dc-9ade-9f21ac565f17 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dc4ef3dd-65d7-47dc-9ade-9f21ac565f17 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dc4ef3dd-65d7-47dc-9ade-9f21ac565f17 #s-close_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dc4ef3dd-65d7-47dc-9ade-9f21ac565f17 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-dc4ef3dd-65d7-47dc-9ade-9f21ac565f17 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-dc4ef3dd-65d7-47dc-9ade-9f21ac565f17 #s-close_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dc4ef3dd-65d7-47dc-9ade-9f21ac565f17 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-dc4ef3dd-65d7-47dc-9ade-9f21ac565f17 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-dc4ef3dd-65d7-47dc-9ade-9f21ac565f17 #s-close_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dc4ef3dd-65d7-47dc-9ade-9f21ac565f17 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}