#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Icons_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}